ACTION=="add", ENV{DEVPATH}=="<device>", RUN+="/bin/su <user> -c '/home/<user>/bin/sound-switch.sh headphones'"
ACTION=="remove", ENV{DEVPATH}=="<device>", RUN+="/bin/su <user> -c '/home/<user>/bin/sound-switch.sh speakers'"
